Assignment 3/node red flow json.json
[{"id":"4f85909a.710ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fa8ca515.4e1148","type":"ibmiot in","z":"4f85909a.710ec","authentication":"apiKey","apiKey":"7860d5.011ccf2c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1","applicationId":"","deviceType":"First","eventType":"upload","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":160,"y":240,"wires":[["3b009b0a.7173b4","8fea990.48b9368","99580f15.7c3c3"]]},{"id":"3b009b0a.7173b4","type":"function","z":"4f85909a.710ec","name":"light_intensity","func":"msg.payload = msg.payload.light_intensity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["30f41416.75a4ac","3678a1b8.3e3f2e"]]},{"id":"8fea990.48b9368","type":"function","z":"4f85909a.710ec","name":"water_level","func":"msg.payload = msg.payload.water_level;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["cb5fceba.fd5f3","b00aab91.0ad0e8"]]},{"id":"cb5fceba.fd5f3","type":"debug","z":"4f85909a.710ec","name":"Water Level Debugger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"30f41416.75a4ac","type":"debug","z":"4f85909a.710ec","name":"Light Intensity Debugger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":400,"wires":[]},{"id":"b00aab91.0ad0e8","type":"ui_gauge","z":"4f85909a.710ec","name":"Water Level","group":"c5cbce67.68fc3","order":2,"width":6,"height":4,"gtype":"gage","title":"Water Level","label":"","format":"{{value}}","min":0,"max":10,"colors":["#b3000c","#e6e600","#1fb102"],"seg1":"3","seg2":"6","x":690,"y":120,"wires":[]},{"id":"3678a1b8.3e3f2e","type":"ui_chart","z":"4f85909a.710ec","name":"Light Intensity","group":"c5cbce67.68fc3","order":12,"width":11,"height":6,"label":"Light Intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":300,"wires":[[]]},{"id":"932bd556.9aedc8","type":"ibmiot out","z":"4f85909a.710ec","authentication":"apiKey","apiKey":"7860d5.011ccf2c","outputType":"cmd","deviceId":"1","deviceType":"First","eventCommandType":"upload","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":240,"wires":[]},{"id":"99580f15.7c3c3","type":"function","z":"4f85909a.710ec","name":"Acknowledgement","func":"msg.payload = {\"light_intensity\":msg.payload.light_intensity,\n    \"water_level\":msg.payload.water_level\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["a0977c39.e3966","932bd556.9aedc8"]]},{"id":"a0977c39.e3966","type":"debug","z":"4f85909a.710ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":140,"wires":[]},{"id":"7860d5.011ccf2c","type":"ibmiot","name":"First App","keepalive":"120","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c5cbce67.68fc3","type":"ui_group","name":"Assignment 3","tab":"eda30356.dad55","order":1,"disp":true,"width":"19","collapse":false},{"id":"eda30356.dad55","type":"ui_tab","name":"Weather App","icon":"","disabled":false,"hidden":false}]